/* marsgarden.net */
html {
	scroll-behavior: smooth;
	font-family: Miriam Libre;

  }
body{
	background-color: rgb(3, 3, 3);
	font-family: Miriam Libre;
	color: white;
	display: block;
	margin: 9%;
	min-height: 100%;
	max-height: 100%;
	min-width: 80%;
	max-width: 80%;
}


/* iFrame Video */
.iframeVideo{
	opacity: 1;
	height: 100%;
	width: 100%

}
/* iFrame Page Multilink */
.iFrame1{
	opacity: 1;
	height: 600px;
	width: 800px;
	display: block;
	padding: 0 6px;
	float: left;	
}
.Banner{
	min-height: 22ch;
	max-height:18ch;
	max-width: 50ch;
	min-width: 18ch;
	object-fit:cover;

}


/* Used as blogText */ 
.keyboardText{
	color:rgba(255, 255, 255, 0.822);
	background-size: cover;

	text-align: center;
	font-size: 150%;

	min-height: 20%;
	max-height: 80%;
	min-width:  50%;
	max-width:  50%;

}
.keyboardBlog{
	color:rgba(255, 255, 255, 0.822);
	text-align: center;
	font-size: 350%;
	min-height: 100%;
	max-height: 100%;
	min-width: 40%;
	max-width:  30%;
	color:#800080;
	color:rgba(255, 255, 255, 0.822);
	font-size: 100%;
	margin: 1%;
	
	align-content: center;
	align-items: center;
	text-align: center;
}
.topNavMenu{
	color:rgba(255, 255, 255, 0.822);
	text-align: center;
	font-size: 350%;
	min-height: 100%;
	max-height: 100%;
	min-width: 40%;
	max-width:  30%;
	color:#800080;
	color:rgba(255, 255, 255, 0.822);
	font-size: 100%;
	margin: 1%;
	
	align-content: center;
	align-items: center;
	text-align: center;
}
.blogPost{
	color:rgba(255, 255, 255, 0.822);
	margin: 1%;
	
	align-content: center;
	align-items: center;
	text-align: center;

	color:rgba(255, 255, 255, 0.822);
	align-content: center;
	align-items: center;
	text-align: center;
	font-size: 200%;
	text-align: center;
}
	
.blogText04{
	color:#800080;
	color:rgba(255, 255, 255, 0.822);
	align-content: center;
	align-items: center;
	text-align: center;
	font-size: 100%;

}
.blogText05{
	color:#800080;
	color:rgba(255, 255, 255, 0.822);
	align-content: center;
	align-items: center;
	text-align: center;
	font-size: 200%;

	color:rgba(255, 255, 255, 0.822);
	text-align: center;


}


.iFrameNav{
	overflow:hidden;
	width: 100%;
	height: 10%;


}
/* Section 1 */ 
.section1{
    width:fit-content;
    height:auto;
	position:relative;
	margin: auto;	
}
.TopNavigator{
/* Border */

	
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	border: 0px dashed rgba(172, 94, 186, 0.35);
	height: 666px;
	background: rgba(0, 0, 0, 0.05);
	background-color: #000000;
	background-image: url('img/MarsGardenNet/ethnight.gif');
	background-repeat: no-repeat;
	background-size:cover;
}
.topnav{
    width:fit-content;
    height:auto;
	position:relative;
	margin: auto;	
}

.section2{
  min-height: 500px;
  min-width: 1024px;
  background-color:rgb(55, 0, 255);
  border-top: 0px;
}

/* Top menu navigation */
.topnav{
background-color: rgb(3, 3, 3);
overflow: visible;
padding: 9px;
}

/* Top navigation <a> */
.topnav a {
    text-align: center;
    padding: 9px 18px; 
    color: black;
    text-decoration: none;
    font-weight: bold;

}
/* Dropdown menu */
  .dropdown {
    position:relative;
    display:block;
    font-weight: bold;
	border: #ff8800;
	max-width:  100%;
	min-width:  100%;
	max-width:  100%;
	max-height: 100%;
	min-height: 100%;

	



  }
/* Dropdown menu 2 */
  .dropdown2 {
    position:static;
    display:grid;
    font-weight: bold;
	border: #ff8800;
	max-width:  100%;
	min-width:  100%;
	max-width:  100%;
	max-height: 100%;
	min-height: 100%;
	z-index: 1;
	



  }
.dropbtn {
    background-color: rgb(3, 3, 3);
    color: white;
    padding: 1%;
    border-style:solid;
    border-color: rgb(255, 197, 109);
	font-family: 'Cormorant', serif;
	font-weight: bold;
	font-size: 133%;
	border-radius: 0%;
	max-width:  100%;
	min-width:  100%;
	max-width:  100%;
	max-height: 100%;
	min-height: 100%;
	display: block;
	float: center;
  }
  
  .dropdown-content {
    display: none;
    background-color: #000000;
    z-index: 3;
	max-width:  30%;
	min-width:  40%;
	max-width:  20%;
	max-height: 20%;
	min-height: 20%;
	align-items: center;
	align-content: center;
	overflow:auto;
	margin-left: 33%;

  }

  
  .dropdown-content a {
	position:relative;
    text-decoration: none;
    display:contents;
	font-size: 100%;
	max-width: 100%;
	min-width: 100%;
	max-width: 100%;
	max-height:100%;
	min-height:100%;
	color: aqua;
	background-image: url('img/MarsGardenNet/keyf5.gif');
	align-items: center;
	align-content: center;


  }
.dropdown-content a:hover {background-color: #113341;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #ff8800;}

/* Text Design #1 */ 
.text01{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 9px 18px;
    font-size: 33px;
}


.blogSpace{
	margin-top: 10%;
  }
.blogText01{
	position:relative;
	font-size: 23px;
	border: 33px solid rgb(0, 56, 44);
	background-color: rgb(0, 0, 0);
	border: none;
	padding: 3vh 3vh;
	text-decoration: none;
	font-family:'Cormorant', serif;;
	font-weight: bold;
	color:rgb(255, 123, 0);
	width:50%;
	opacity: 0.7;
	text-align: center;
	justify-content: center;
	margin:auto;
	white-space: pre-line;
  }
.blogText02{
	position:absolute;
	font-size: 23px;
	background-color: rgb(0, 0, 0);
	font-family:'Cormorant', serif;;
	font-weight: bold;
	color:rgb(255, 123, 0);
	width:20%;
	opacity: 0.7;
	text-align: right;
	justify-content: right;
	white-space: pre-line;
  }
  .blogText03{
	position:relative;
	font-size: 33px;
	background-color: rgb(0, 0, 0);
	border: none;
	text-decoration: none;
	font-family:'Cormorant', serif;;
	font-weight: bold;
	color:rgb(0, 166, 255);
	width:100%;
	opacity: 1;
	white-space: pre-line;
  }
  .blogText07{
	position:relative;
	font-size: 23px;
	border: 33px solid rgb(0, 56, 44);
	border: none;
	padding: 3vh 3vh;
	text-decoration: none;
	color:rgb(255, 255, 255);
	width:50%;
	opacity: 0.7;
	white-space: pre-line;
	background-color: #000000;
  }
  .blogText09{
	position:relative;
	font-size: 23px;
	border: 33px solid rgb(0, 56, 44);
	border: none;
	padding: 3vh 3vh;
	text-decoration: none;
	color:rgb(255, 255, 255);
	width:50%;
	opacity: 0.7;
	white-space: pre-line;
	background-color: #000000;
  }
  .blogText08{
	position:relative;
	font-size: 23px;
	border: 33px solid rgb(0, 56, 44);
	border: none;
	padding: 3vh 3vh;
	text-decoration: none;
	color:rgb(255, 255, 255);
	width:40%;
	opacity: 0.6;
	white-space: pre-line;
	background-color: #000000;
	background-image: url('img/MarsGardenNet/keyf5.gif');
	display: cover;
	text-align: center;
  }
  .blogTitle07{
	position:relative;
	font-size: 222%;
	border: 33px solid rgb(0, 56, 44);
	border: none;
	padding: 3vh 3vh;
	text-decoration: none;
	color:rgb(255, 255, 255);
	width:50%;
	opacity: 0.7;
	text-align: center;
	justify-content: center;
	margin:auto;
	white-space: pre-line;
	font-weight: bold;
  }

  .blogImg{
	height: 300px;
	width: 300px;
  }

  .blogText02{
	position:relative;
	font-size: 23px;
	border: 33px solid rgb(0, 56, 44);
	background-color: rgb(0, 0, 0);
	border: none;
	padding: 3vh 3vh;
	text-decoration: none;
	font-family:Comorant;
	color:rgb(255, 123, 0);
	opacity: 0.7;
	width:50%;
	text-align: center;
	justify-content: center;
	margin:auto;
	white-space: pre-line;
  }

  .blogTitle01{
	position:relative;
	font-size: 25px;
	border: 33px solid rgb(0, 56, 44);
	background-color: rgb(0, 0, 0);
	border: none;
	padding: 3vh 3vh;
	text-decoration: none;
	font-family: 'Comorant', serif;;
	color:rgb(255, 0, 0);
	opacity: 0.7;
	width:70%;
	text-align: left;
	justify-content: center;
	margin:auto;
	white-space: pre-line;
	font-weight: 0;
  }
  .blogStyleText03{
	font-family: Miriam Libre;
	font-size: 23px;
	color:rgb(0, 192, 150);
  }
.EtherealDarkness{
	background-color: rgb(55, 0, 255);
	width: 10%;
	border-radius: 333%;
	background-image: url("img/MarsGardenNet/portal.png");
}
a{
	color:inherit;
	text-decoration:inherit;
}
h1{
	font-family: Miriam Libre;
	font-size: 33px;
	font-style: bold;
}
h2{
	font-family: Miriam Libre;
	font-size: 33px;
	font-style: bold;
	padding-left: 150px;
	padding-right: 150px;
}

p{
	font-family: Miriam Libre;
	font-size: 21px;
	padding-left: 150px;
	padding-right: 150px;
	text-align: left;
	-webkit-filter: blur(0px); 
    -moz-filter: blur(0px); 
    -o-filter: blur(0px); 
    -ms-filter: blur(0px); 
    filter: blur(0px); 
}

.image{
	display: block;
    margin-left: auto;
    margin-right: auto;
	min-height: 20%;
	max-height: 40%;
	min-width: 20%;
	max-width: 20%;

}
.image3{
	min-height: 20%;
	max-height: 40%;
	min-width: 20%;
	max-width: 20%;
}
.image4{

	min-height: 50%;
	max-height: 100%;
	min-width:  30%;
	max-width:  50%;
}
.image5{

	min-height: 20%;
	max-height: 60%;
	min-width:  10%;
	max-width:  50%;
}
.iFrameMusic{

	min-height: 100%;
	max-height: 100%;
	min-width:  50%;
	max-width:  50%;
}
.videos{
	min-height: 10%;
	max-height: 100%;
	min-width:  10%;
	max-width:  100%;
}
.User{
	
	min-height: 33%;
	max-height: 33%;
	min-width:  33%;
	max-width:  33%;
	align-content: center;
	align-items: center;
}
.imageText{
	text-align: center;
}
iframe{
	display:block;
	align-content: center;
	align-items: center;
	min-height: 50%;
	max-height: 70%;
	min-width:  100%;
	max-width:  100%;
}
h3{
	font-family: Miriam Libre;
	font-size: 21px;
	min-height: 20%;
	max-height: 40%;
	min-width: 20%;
	max-width: 20%;
}

.chapter1{
	background-image: url("img/anticipation_flstudio.png");
	
}

.spotifyEmbed{
	position:sticky;
	top: 10%;
	left:3%;
	bottom: 0%;
	right: 0%;
}

.demo-wrap {
	position: relative;
  }
  
  .demo-wrap:before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	background-image: url("");
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
  }
  
  .demo-content {
	position: relative;
  }

  .marsgardenindex{
	content: ' ';
	display:block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 93%;
	opacity: 1;
	background-image: url("img/img02.jpg");
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
  }
  .marsgardenSection2{
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	height: 100%;
	opacity: 1;
	background-image: url("img/img04.jpg");
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: cover;
  }
  .marsgardenSection3{
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 200%;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: cover;
	background-image: url("img/img03.jpg");
	-webkit-filter: blur(9px); 
    -moz-filter: blur(3px); 
    -o-filter: blur(3px); 
    -ms-filter: blur(3px); 
    filter: blur(3px); 
	background-color: #000000;
 }
	.section3Text{
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 200%;
	width: 100%;
	height: 100%;
	opacity: 1;
	}
  .img05{
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 300%;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: cover;
	background-image: url("img/img05.jpg");
	-webkit-filter: blur(3px);
    -moz-filter: blur(3px); 
    -o-filter: blur(3px); 
    -ms-filter: blur(3px);
    filter: blur(3px); 
  }

  .section4Text{
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 300%;
	width: 100%;
	height: 100%;
	opacity: 1;
}

.img06{
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 400%;
	width: 50%;
	height: 100%;
	opacity: 0.6;
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: cover;
	background-image: url("img/img06.jpg");
	-webkit-filter: blur(9px); 
    -moz-filter: blur(3px); 
    -o-filter: blur(3px); 
    -ms-filter: blur(3px); 
    filter: blur(3px);
  }

  .section5Text{
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 400%;
	width: 100%;
	height: 100%;
	opacity: 1;
}


/* Startpage */
.startPageBackground{
background: rgb(64,64,64);
background: linear-gradient(90deg, rgba(64,64,64,1) 0%, rgba(219,110,37,1) 39%, rgba(0,128,126,1) 100%);
}
.startPageBackground2{
	background: rgb(0, 0, 0);
	background-image: url('img/MarsGardenNet/ethnight05.gif');
	background-size: 100%;
	background-repeat: no-repeat;
}
.startPageBackground3{
	background: rgb(0, 0, 0);
	background-image: url('img/MarsGardenNet/ethnight05.gif');
	background-size: 100%;
	background-repeat: no-repeat;
	min-height: 100%;
	max-height: 100%;
	min-width:  100%;
	max-width:  100%;
}
.startPageBackground4{
	background: rgb(0, 0, 0);
	background-size: 100%;
	background-repeat: no-repeat;
	min-height:50%;
	max-height:50%;
	max-width: 50%;
	min-width: 50%;
}
.startPageBackground5{
	background: rgb(0, 0, 0);
	background-image: url('img/MarsGardenNet/mgNet/mg2.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	min-height: 100%;
	max-height: 100%;
	min-width:  100%;
	max-width:  100%;
}
.marsgardenindex2{
	content: ' ';
	display:grid;
	position:relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	background-position: 50% 0%;
	background-size: cover;
	background-repeat: no-repeat;
  }
.para01{
	text-align: center;
}
.marsgardenindex3{
	content: ' ';
	display:grid;
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	height: 100%;
	opacity: 1;	
  }

@keyframes blinkerxDir {
	50% {
	  opacity: 0.3;
	}
}

.imageFix {
	position:static;
	width:314px;
	height:677px;
	object-fit:inherit;
	border-radius: 3vh;
	filter: opacity(-100%);
	opacity: 1;
   }
.imageFix:hover{
	color:aliceblue;
}

@keyframes example {
	0%   {left:0px; top:50px; }
	25%	{left:-200px; top:0px;  transform: rotateZ(-30deg)	}
	50%  {left: 0; top:0px;  transform: rotateZ(10deg);}
	75%  {left:0px; top:0px;  transform: rotateZ(0deg);}
	100% { }	
}

.xDirectoryLogo:hover{
	-webkit-transform: rotateZ(-3deg);
	-ms-transform: rotateZ(-2deg);
	transform: rotateZ(10deg);
	transition-duration: 2s;	
}

/* MarsGarden.Net Socials */
.MarsGardenNetSocials{
	color:aliceblue;
	animation-duration: 4s;
	animation-iteration-count: 1;
	position:relative;
	width:100%;
	height:100%;
	display: block;
	margin: auto;
	background-color: rgb(0, 33, 69);
	opacity: 100%;
	position:100%;
}
.MarsGardenNetBanner3{
	min-height: 100%;
	max-height: 100%;
	min-width:  100%;
	max-width:  100%;
}
.MarsGardenNetSocials:hover{
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	opacity:100%;
}.MarsGardenNetBanner{
	color:aliceblue;
	animation-duration: 4s;
	animation-iteration-count: 1;
	position:relative;
	width:100%;
	height:100%;
	display: block;
	margin: auto;
	background-color: rgb(0, 33, 69);
	opacity: 100%;
}
.MarsGardenNetBanner2{
	color:aliceblue;
	position:relative;
	width:100%;
	height:100%;
	display: block;
	margin: auto;
	opacity: 100%;
}


.pagePos{
    text-align: center;
	
}


.MarsGardenNet{
	position:ab;
	color:rgb(0, 122, 96);
}

@media only screen and (max-width: 900px) {
	html{
		min-height: 100%;
		max-height: 100%;
		min-width:  100%;
		max-width:  100%;
	}
	.startPageBackground2{
		background-image: none;
		background-color: #800080;
		background: rgb(0, 0, 0);
		background-image: url('img/MarsGardenNet/ethnight05.gif');
		background-size: 100%;
		background-repeat: no-repeat;
	}
	.keyboardBlog{
		color:rgba(255, 255, 255, 0.822);
		text-align: center;
		min-height: 100%;
		max-height: 100%;
		min-width:  100%;
		max-width:  100%;
		size: auto;
		white-space:pre-line;
	}
	.topNavMenu{

		color:#800080;
		color:rgba(255, 255, 255, 0.822);
		align-content: center;
		align-items: center;
		text-align: center;
		font-size: 100%;		
		position:relative;
		padding: 1vh 1vh;
		text-decoration: none;
		color:rgb(255, 255, 255);
		width:50%;
		text-align: center;	
		justify-content: center;
		white-space: pre-line;
	}
	.keyboardText{
		color:rgba(255, 255, 255, 0.822);
		min-height: 50%;
		max-height: 50%;
		min-width:  50%;
		max-width:  50%;
		size: auto;
		white-space:pre-line;	
	}
	.blogText06{
		color:rgba(255, 255, 255, 0.822);
		text-align: left;
		min-height: 80%;
		max-height: 80%;
		min-width:  80%;
		max-width:  80%;	
	}
	.blogText07{
	align-content: center;
	align-items: center;
	text-align: center;
	font-size: 100%;
	position:relative;
	padding: 1vh 1vh;
	text-decoration: none;
	color:rgb(255, 255, 255);
	text-align: center;	
	justify-content: center;
	white-space: pre-line;
  }
	.blogText09{
	align-content: center;
	align-items: center;
	text-align: center;
	font-size: 100%;
	position:relative;
	padding: 1vh 1vh;
	text-decoration: none;
	color:rgb(255, 255, 255);
	text-align: center;	
	justify-content: center;
	white-space: pre-line;
	min-height: 100%;
	max-height: 100%;
	min-width:  100%;
	max-width:  100%;

  }
	.MarsGardenNetBanner3{
	min-height: 100%;
	max-height: 100%;
	min-width:  100%;
	max-width:  100%;
	}
	.blogText05{
	color:#800080;
	color:rgba(255, 255, 255, 0.822);
	align-content: center;
	align-items: center;
	text-align: center;
	font-size: 100%;	
	position:relative;
	padding: 1vh 1vh;
	text-decoration: none;
	color:rgb(255, 255, 255);
	width:50%;
	text-align: center;	
	justify-content: center;
	white-space: pre-line;
	}
	.blogPost{
	color:#800080;
	color:rgba(255, 255, 255, 0.822);
	align-content: center;
	align-items: center;
	text-align: center;
	font-size: 100%;
			
	position:relative;
	padding: 1vh 1vh;
	text-decoration: none;
	color:rgb(255, 255, 255);
	width:50%;
	text-align: center;	
	justify-content: center;
	white-space: pre-line;



	position:relative;
	font-size: 33px;
	background-color: rgb(0, 0, 0);
	border: none;
	text-decoration: none;
	font-family:'Cormorant', serif;;
	font-weight: bold;
	opacity: 1;


	white-space: pre-line;
	
	}
	.videos{
		min-height: 100%;
		max-height: 100%;
		min-width:  100%;
		max-width:  100%;
	}
	.User{
	
		min-height: 100%;
		max-height: 100%;
		min-width:  100%;
		max-width:  100%;
		
		
	}
	.startPageBackground3{
		background: rgb(0, 0, 0);
		background-image: url('img/MarsGardenNet/ethnight05.gif');
		background-size: 100%;
		background-repeat: no-repeat;
	
	
	
	
		min-height: 100%;
		max-height: 100%;
		min-width:  100%;
		max-width:  100%;
	}
	iframe{
		display:block;
		align-content: center;
		align-items: center;
		min-height: 50%;
		max-height: 70%;
		min-width:  100%;
		max-width:  100%;
	}
}